<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, create your account here'" />
    
    <div>
    <form th:action="@{/signup}" method="post">
    <input type="text" th:name="username" th:placeholder="Username" />
    <input type="email" th:name="email" th:placeholder="Email" />
    <input type="password" th:name="password" th:placeholder="password" />
        <button type="submit">Create Account</button>
	</form>
    </div>
    
</body>
</html>