<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
<head th:replace="common :: header">
</head>
<body>
<div th:if="${admin} == 'admin'">
    <a th:href="@{/createEvent}"> Create Event </a>
</div>
<table>
	<tr>
	<th> Events</th>
	</tr>
	<tr th:each="events : ${events}">
	<td> <a th:href="@{'/events/' + ${events.eventId}}" th:text="${events.name}"></a>
	</td>
	<td th:utext="${events.template}">
	</td>
	</tr>
</table>
</body>
</html>