<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
<head th:replace="common :: header">
</head>
<body>
    <p>Your Profile<p>
    <p th:text="${user.email}">
    <p th:text="${user.firstname}">
    <p th:text="${user.lastname}">
    <p th:text="${user.notification}">
    <h1> Subscribed Events</h1>
    <div th:if="${events != null}" th:each="subscribed : ${events}">
    <a th:text="${subscribed.name}" th:href="@{'/events/' + ${subscribed.eventId}}"></a> <br></br>
    </div>
    <a th:href="@{/settings}"> Edit Account </a>
</body>
</html>