@charset "ISO-8859-1";
.listbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #193765;
    font-family: verdana;
}

.listitem {
    float: left;
}

.listitemlink {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.listitemicon {
	display: block;
    color: white;
    text-align: center;
    padding-top: 9px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
}

.listitemlink:hover {
	
    background-color: #111111;
}

.listitemicon:hover {
	color: #00aced;
	background-color: #111111;
}

.btn-link{
	display: block;
	background-color: #333333;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border: none;
    
}

.footer{
	
	color: #aaaaaa;
	font-family: verdana;
	font-size: 70%;
    text-align: center;
}


i1{
	color: #193765;
	font-family: verdana;
	font-size: 120%;
	text-decoration: underline;
}

i2{
	color: #193765;
	font-family: verdana;
	font-size: 100%;
    padding: 30px;
}

i3{
	color: #193765;
	font-family: verdana;
	font-size: 120%;
	text-decoration: underline;
}

w{
    width: 178px;
    height: 100%;
    
	color: #193765;
	font-family: verdana;
	font-size: 140%;
	font-weight: bold;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #193765;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #193765;
}


